@model AdministradordeRecursosHumanos.Models.Mensaje

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mensaje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Empleado.Apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empleado.Apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Texto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Texto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaDeEnvio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaDeEnvio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver al Listado", "Index")
</p>
